extends ../../layouts/layouts.pug
include ../../mixins/btn-redirect.mixin.pug
block header
    h1 Danh sách tài khoản quản trị

block hb
    +btn-redirect(`/${ROUTERS.ADMIN.AUTH}${ROUTERS.ADMIN.ACCOUNT.PATH}${ROUTERS.ADMIN.ACCOUNT.CREATE}`)
    

block css


block main


block script

    
